<nav class="navbar">
    <div class="container nav-container">
        <a href="#" class="brand">ShikshaSetu</a>
        <button class="nav-toggle" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#jobs-internships">Jobs & Internships</a></li>
            <li><a href="#alumni-interaction">Alumni Interaction</a></li>
            <li><a href="#learning-path">Learning Path</a></li>
            <li><a href="#startups">Startups</a></li>
            <li><a href="profile"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </div>
</nav>