<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..//stylesheets/style.css">
</head>
<body>
    <%- include('partials/header') %>

<section class="job-section">
    <div class="container center">
        <h2>Apply for <%= job.title %></h2>
        <form action="/apply" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            
            <div class="form-group">
                <label for="resume">Upload Resume (PDF only)</label>
                <input type="file" name="resume" id="resume" accept=".pdf" required>
            </div>
            <input type="hidden" name="jobId" value="<%= job.id %>">

            <button type="submit" class="cta-button" onclick="submitbtn()">Submit Application</button>
        </form>
        <script>
            const submitbtn = () => {
                const jobID = "<%= job.id %>";
                window.location.href = `/apply/${jobID}`;
            };
        </script>
    </div>
</section>
</body>
</html>