<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMPG</title>
    <link rel="icon" href="img/logo.png" type="image/icon type">
</head>
<body>
    <div class="container">
        <h1>Error: <%= message %></h1>
        <p><%= error.status %> - <%= error.message %></p>
        <a href="/">Go back to home</a>
    </div>
</body>
</html>
